<%= tws_form_with(model: resource, url: resource_url(resource)) do |form| %>
  <%= form.tws_errors resource.errors %>
  <div class="mt-3 grid grid-cols-1 gap-y-8">
    <% form_fields(resource).each do |k,v| %>
      <% if v[:type] == :select %>
        <%= form.send "tws_#{v[:type]}", k, v[:collection], v[:options] %>
      <% else %>
        <%= form.send "tws_#{v[:type]}", k %>
      <% end %>
    <% end %>
    <%= form.tws_submit cancel_url: resource_list_url  %>
  </div>
<% end %>
