<div class="tws__page">
<%= render 'tailwind/scaffold/components/notice', notice: %>
<div class="" data-controller="delete-confirm">
  <%= tws_table_heading resource_name, new_path: resource_new_url, q: params[:q] %>
  <div class="mt-8 flow-root">
    <%= tws_table_panel do %>
      <%= tws_table do %>
        <%= tws_table_header index_attributes %>
        <%= tws_table_body @resources do |resource| %>
          <% index_attributes.each do |k, options| %>
            <%= tws_table_td format_cell_value(resource.send(k), options.merge(attribute: k)) %>
          <% end %>
          <%= tws_table_td_actions do %>
            <% if allowed_actions[:show] %>
              <%= link_to resource_url(resource), class: "primary flex flex-col" do %>
                <%= render "layouts/tailwind/scaffold/admin/icons/show", style: "h-5 h-5" %>
                <div class="text-xs">show</div>
              <% end %>
            <% end %>
            <% if allowed_actions[:edit] %>
              <%= link_to resource_edit_url(resource), class: "secondary flex flex-col items-center" do %>
                <%= render "layouts/tailwind/scaffold/admin/icons/edit", style: "h-5 h-5" %>
                <div class="text-xs">edit</div>
              <% end %>
            <% end %>
            <% if allowed_actions[:delete] %>
              <div class="inline-block">
                <%= button_to resource_url(resource), method: :delete, data: { confirm: "Are you sure?", action: "click->delete-confirm#delete" }, class: "secondary flex flex-col items-center" do %>
                  <%= render "layouts/tailwind/scaffold/admin/icons/delete", style: "h-5 h-5" %>
                  <div class="text-xs">delete</div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="mt-5">
      <%= raw pagy_nav(@pagy) %>
    </div>
  </div>
</div>
</div>
